<app-loader *ngIf="loaderObject.getComputers; else showInventoryItems" [section]="'page'"></app-loader>
<ng-template #showInventoryItems>
    <ng-container *ngIf="allCardsInventory.length > 0; else noItemsInventory">
        <div class="search">
            <app-input-text
                [formInput]="inputs[0]"
                [form]="form"
            >
            </app-input-text>
        </div>
        <div class="section-inventory">
            <app-inventory-card 
                *ngFor="let cardInventory of allCardsInventory"
                [ngClass]="{'hidden': !cardInventory.gabinete.toLowerCase().includes(form.value.searchText.toLowerCase()) && form.value.searchText}"
                [inventoryData] = "cardInventory"
                [fromSection] = "'rooms'"
                (clickCardEmitter) = "openEditComputerForm($event);"
                (clickBadgeEmitter) = "openDeleteComputerModal($event);"
            >
            </app-inventory-card>
        </div>
    </ng-container>
    <ng-template #noItemsInventory>
        <p class="noMessage">
            Aún no hay computadoras registradas
        </p>
    </ng-template>
</ng-template>
