<app-loader *ngIf="loaderObject.getComputers; else showInventoryItems" [section]="'page'"></app-loader>
<ng-template #showInventoryItems>
    <ng-container *ngIf="allCardsInventory.length > 0; else noItemsInventory">
        <div class="section-inventory">
            <app-inventory-card 
                *ngFor="let cardInventory of allCardsInventory"
                [inventoryData] = "cardInventory"
                [fromSection] = "'rooms'"
                (clickCardEmitter) = "openEditComputerForm($event);"
                (clickBadgeEmitter) = "openDeleteComputerModal($event);"
            >
            </app-inventory-card>
        </div>
    </ng-container>
    <ng-template #noItemsInventory>
        <p class="noMessage">
            Aún no hay computadoras registradas
        </p>
    </ng-template>
</ng-template>
