<section class="page__container">
    <app-header
        (changeSectionEmitter)="changeSection($event);"
    >
    </app-header>
    <ng-container [ngSwitch]="currentSection">
        <ng-container *ngSwitchCase="'Perfil'">
            <app-profile></app-profile>
        </ng-container>
        <ng-container *ngSwitchCase="'Reportes activos'">
            <app-active-reports></app-active-reports>
        </ng-container>
        <ng-container *ngSwitchCase="'Reportes nuevos'">
            <app-new-reports></app-new-reports>
        </ng-container>
        <ng-container *ngSwitchCase="'Inventario'">
            <app-inventory></app-inventory>
        </ng-container>
    </ng-container>
</section>
