:root{

    --primary: #EB7F65;
    --primary-light: #FFCDC1;
    --secondary: #61A8A7;
    --secondary-light: #D4E3DE;
    --secondary-dark: #4a807f;
    --tertiary: #A3B995;
    --quaternary: #95B7B9;
    --quinary: #A195B9;
    --quinary-light: #DDD5EE;

    --background: #DBE1EB;
    --background-card: #FFFFFF;
    --background-navbar: #292C2F;
    --background-report-card: #F9F9F9;
    --background-disabled: #ECE8E8;

    --text: #000000;
    --text-light: #FFFFFF;
    --text-dark: #272727;
    --text-light-contrast: #F9F9F9;
    --text-navbar: #FFFAF0;
    --text-disabled: #2727276e;

    --status-attending: #A8BBB9;
    --status-pending: #EBC565;
    --status-stopped: #EB7F65;

    --image-filter: #272727;
    --border: #ECE8E8;
    --input-background: #ECE8E8;
    --button-edit: #404040;
    --button-edit-hover: #A195B9;

    --notice-warning: #EBC565;
    --notice-error: #EB7F65;
    --notice-success: #A3B995;
    --shadow: #c8c7c7;

}

:root{
    --background-navbar-svg: invert(13%) sepia(2%) saturate(2064%) hue-rotate(169deg) brightness(95%) contrast(88%);
    --text-light-contrast-svg: invert(100%) sepia(13%) saturate(59%) hue-rotate(349deg) brightness(114%) contrast(95%);
    --primary-svg: brightness(0) saturate(100%) invert(78%) sepia(33%) saturate(6245%) hue-rotate(320deg) brightness(101%) contrast(84%);
    --secondary-light-svg: brightness(0) saturate(100%) invert(90%) sepia(5%) saturate(386%) hue-rotate(109deg) brightness(102%) contrast(87%);
    --secondary-svg: brightness(0) saturate(100%) invert(70%) sepia(7%) saturate(2025%) hue-rotate(130deg) brightness(87%) contrast(87%);
    --primary-light-svg: brightness(0) saturate(100%) invert(97%) sepia(33%) saturate(1533%) hue-rotate(293deg) brightness(103%) contrast(100%);
}