:root{

    --primary: #EB7F65;
    --primary-light: #FFCDC1;
    --secondary: #61A8A7;
    --secondary-light: #D4E3DE;
    --tertiary: #A3B995;
    --quaternary: #95B7B9;
    --quinary: #A195B9;
    --quinary-light: #DDD5EE;

    --background: #DBE1EB;
    --background-card: #FFFFFF;
    --background-navbar: #292C2F;
    --background-report-card: #F9F9F9;

    --text: #000000;
    --text-light: #FFFFFF;
    --text-dark: #272727;
    --text-light-contrast: #F9F9F9;
    --text-navbar: #FFFAF0;

    --status-attending: #A8BBB9;
    --status-pending: #EBC565;
    --status-stopped: #EB7F65;

    --image-filter: #272727;
    --border: #ECE8E8;
    --input-background: #ECE8E8;

    --notice-warning: #EBC565;
    --notice-error: #EB7F65;
    --notice-success: #A3B995;
}