@font-face {
    font-family: 'Baloo 2';
    src: url('./../assets/fonts/Baloo2-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Baloo 2';
    src: url('./../assets/fonts/Baloo2-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('./../assets/fonts/BeVietnamPro-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('./../assets/fonts/BeVietnamPro-Bold.ttf') format('truetype');
    font-weight: bold;
}

body > *{
    font-family: 'Be Vietnam Pro' !important;
}

.image__title{
    font-family: 'Baloo 2';
    font-size: 50px;
}

.form__subtitle, h1{
    font-family: 'Baloo 2';
    font-weight: bold;
}

.input, .input input{
    font-family: 'Be Vietnam Pro' !important;
}