<section class="navbar">
    <span>
        <button *ngFor="let button of buttonsTemplate"
            [attr.active]="button.text === currentSection"
            class="button text"
            (click)="changeSection(button.text);"
        >
            {{button.text}}
        </button>
    </span>
    <button class="button report" (click)="openForm();">Agregar</button>
</section>
<section>
    <ng-container [ngSwitch]="currentSection">
        <ng-container *ngSwitchCase="'Salas'">
            <app-rooms
                [hasNewElementAdded] = 'hasNewElementAdded'
            >
            </app-rooms>
        </ng-container>
        <ng-container *ngSwitchCase="'Computadoras'">
            <app-computers
                [hasNewElementAdded] = 'hasNewElementAdded'
            ></app-computers>
        </ng-container>
        <ng-container *ngSwitchCase="'Componentes'">
            <app-components
                [hasNewElementAdded] = 'hasNewElementAdded'
            ></app-components>
        </ng-container>
    </ng-container>
</section>
