<section class="navbar">
    <span>
        <button *ngFor="let button of buttonsTemplate"
            [attr.active]="button === currentSection"
            class="button text"
            (click)="changeSection(button);"
        >
            {{button}}
        </button>
    </span>
    <button class="button report">Agregar</button>
</section>
<section>
    <ng-container [ngSwitch]="currentSection">
        <ng-container *ngSwitchCase="'Salas'">
            <app-rooms></app-rooms>
        </ng-container>
        <ng-container *ngSwitchCase="'Computadoras'">
            <app-computers></app-computers>
        </ng-container>
        <ng-container *ngSwitchCase="'Componentes'">
            <app-components></app-components>
        </ng-container>
    </ng-container>
</section>
