.navbar{
    background-color: var(--background-navbar-inventory);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button.report{
    padding: 0 1.5rem;
}

.button.text[active=true]{
    text-decoration: underline;
}