div[type='search']{
    height: 100%;
}

div[type='search'] input{
    border: 0;
    background: var(--input-background);
    border-radius: 0 1rem 1rem 0;
    height: 100%;
    padding: 0;
    width: 100%;
    padding: .5rem;
    outline: none;
}