<div class="input" [attr.type]="formInput.subtype" [formGroup]="form" *ngIf="form.get(formInput.name)">

	<label *ngIf="formInput.label && formInput.subtype !=='search'" [for]="formInput.name" (click)="debug();">
		{{ formInput.label }}
		<span *ngIf="!formInput.optional"> * </span>
	</label>

	<div>
		<img *ngIf="formInput.image" src="./../../../../../assets/icons/icon_{{formInput.image}}.svg" alt="">
		<input
			[type]='formInput.type'
			autocomplete="off"
			[name]="formInput.name"
			[id]="formInput.name"
			[formControlName]="formInput.name"
			[placeholder]="formInput.placeholder ?? ''"
			[disabled]="formInput.disabled ?? false"
		/>
	</div>

	<span 
		class="error"
		*ngIf="
		(form.get(formInput.name)?.invalid) &&
		(form.get(formInput.name)?.errors ) &&
		(form.get(formInput.name)?.touched)
		"
	>
		{{ form.get(formInput.name)?.errors | inputErrors }}
	</span>

</div>

