<div class="card" [attr.type]="fromSection" (click)="handleCardClick($event);">
    <span [attr.type]="inventoryData.type ?? 'delete'" (click)="handleBadgeClick();">
        <img src="./../../../../../assets/icons/icon_{{inventoryData.type ?? 'delete'}}.svg" alt="">
    </span>
    <h3 [attr.type]="inventoryData.type ?? 'delete'" (click)="redirect();">
        {{ (inventoryData.title || inventoryData.nombre || inventoryData.gabinete ) | firstLetterUppercase }}
    </h3>
    <p>
        <ng-container *ngIf="inventoryData.totalSoftware || inventoryData.totalSoftware === 0">
            Software: {{inventoryData.totalSoftware}}
        </ng-container>
        <ng-container *ngIf="inventoryData.subtitle1 || inventoryData.edificio">
            {{ ( inventoryData.type === 'pc' ? 'Reportes: ' : '' )+ inventoryData.subtitle1 || inventoryData.edificio}}
        </ng-container>
        <ng-container *ngIf="inventoryData.numero || inventoryData.numero === 0 ">
            {{inventoryData.numero }}
        </ng-container>
    </p>
    <p>
        <ng-container *ngIf="inventoryData.totalPC || inventoryData.totalPC === 0">
            PCs: {{inventoryData.totalPC}}
        </ng-container>
        <ng-container *ngIf="inventoryData.totalHardware || inventoryData.totalHardware === 0">
            Hardware: {{inventoryData.totalHardware}}
        </ng-container>
        <ng-container *ngIf="inventoryData.tipo">
            {{ inventoryData.tipo | firstLetterUppercase }}
        </ng-container>
    </p>
</div>
