/*        ANCHOR: HEADER         */

header{
    display: grid;
    grid-template-columns: 95% 5%;
    justify-items: center;
}

header h1{
    margin: 0;
    font-size: var(--PX-26);
}

.type-form header h1[type="room"]{
    color: var(--tertiary);
}

/* .form h1 [type="pc"]{
    color: var(--tertiary);
} */


/*        ANCHOR: FORM         */

.modal__form{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 1rem;
    margin-block: 1rem;
}

.form__input{
    grid-column: span var(--column);
}

/*        ANCHOR: FOOTER (BUTTONS)         */
.modal__buttons{
    width: 100%;
    text-align: center;
}

