<div class="card">
    <div class="header">
        <p><b>Folio {{report._id}}</b></p>
        <p>{{ report.fechaDeReporte | date: 'dd/MM/yyyy' }}</p>
    </div>
    <div class="details">
        <p>{{report.categoria | firstLetterUppercase }}</p>
        <p>{{report.incidente | firstLetterUppercase }}</p>
        <p class="status" [attr.status]="report.estado">{{report.estado | firstLetterUppercase}}</p>
    </div>
    <ng-container *ngIf="report.comentariosReporte">
        <p> <span> Descripción:</span> {{report.comentariosReporte }}</p>
    </ng-container>
    <ng-container *ngIf="report.comentariosAdmin">
        <p> <span> Comentarios:</span> {{report.comentariosAdmin}} </p>
    </ng-container>
</div>
