/* You can add global styles to this file, and also import other style files */
@import './styles/colors.css';
@import './styles/font-size.css';
@import './styles/fonts-styles.css';
@import './styles/buttons.css';

html,
body,
* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.page__container{
    background-color: var(--background);
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: auto;
}

.card{
    background-color: var(--background-card);
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem;
    box-shadow: 0px 4px 15px var(--shadow);
}

/*ANCHOR: MODAL*/

.form{
    max-width: 35rem !important;
    width: 90%;
    min-width: 16rem;
}

.mat-dialog-container{
    border-radius: 1.5rem !important;
}

.input label{
    display: block;
    margin-block: .5rem;
    font-weight: bold;
    font-family: 'Be Vietnam Pro';
}

.input label span{
    color: var(--notice-error);
}

.error{
    color: var(--notice-error);
    font-size: .7rem;
}