/* You can add global styles to this file, and also import other style files */
@import './styles/colors.css';
@import './styles/font-size.css';
@import './styles/fonts-styles.css';
@import './styles/buttons.css';

html,
body,
* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.page__container{
    background-color: var(--background);
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: auto;
}

.card{
    background-color: var(--background-card);
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem;
    box-shadow: 0px 4px 15px var(--shadow);
}

.section-inventory{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 999px){
    .section-inventory { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 700px){
    .section-inventory { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 500px){
    .section-inventory { grid-template-columns: repeat(1, 1fr); }
}

/*ANCHOR: MODAL*/

.form{
    max-width: 35rem !important;
    width: 90%;
    min-width: 16rem;
}

.mat-dialog-container{
    border-radius: 1.5rem !important;
}

.input label{
    display: block;
    margin-block: .5rem;
    font-weight: bold;
    font-family: 'Be Vietnam Pro';
}

.input label span{
    color: var(--notice-error);
}

.error{
    color: var(--notice-error);
    font-size: .7rem;
}

.mat-snack-bar-container{
    margin: 0 !important;
    padding: 0 !important;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) !important;
    overflow: hidden !important;
    font-family: 'Baloo 2';
    color: var(--text-light);
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 0.5rem !important;
}

.mat-snack-bar-container.warning{
    background-color: var(--notice-warning);
}

.mat-snack-bar-container.error{
    background-color: var(--notice-error);
}

.mat-snack-bar-container.success{
    background-color: var(--notice-success);
}

.noMessage{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: fit-content;
}