<section class="page__container">
    <header>
        <button class="button back" [attr.section]="type" (click)="goBack();">
            <img src="./../../../assets/icons/icon_arrow_left.svg" alt="flecha">
        </button>
        <h1>
            {{ type === 'sala' ? 'Sala' : 'PC'}} {{idSection}}
        </h1>
        <button class="button icon report" (click)="createReport();">
            <img src="./../../../assets/icons/icon_report.svg" alt="" title="Reportar">
            <ng-container *ngIf="!screenSize.small">
                Reportar 
            </ng-container>
        </button>
    </header>
    <section class="section__resume">
        <ngx-simplebar>
            <div class="section__scroll">
                <div *ngFor="let resume of sectionResume" class="resume">
                    <p>{{resume.label}}</p>
                </div>
            </div>
        </ngx-simplebar>
    </section>
    <section class="section__buttons">
        <button 
            *ngFor="let button of (type === 'sala' ? buttonsRoom : buttonsPC)"
            class="button section" 
            [attr.section]="type" 
            [attr.active]="(subSectionActive === button.key)"
            (click)="changeSubSection(button)">
            {{button.label}}
        </button>
    </section>
    <section class="section__subsection">
        <ng-container *ngIf="subSectionActive==='reportes'">
            <app-loader *ngIf="loaderObject.getUserReports" [section]="'page'"></app-loader>
            <ng-container *ngIf="allCards.length > 0; else noReports">
                <div id="firstColumn" #firstColumn class="column">
                    <app-report-card *ngFor="let report of firstColumnReports" [report]="report"></app-report-card>
                </div>
                <div *ngIf="!screenSize.small" id="secondColumn" #secondColumn class="column">
                    <app-report-card *ngFor="let report of secondColumnReports" [report]="report"></app-report-card>
                </div>
            </ng-container>
            <ng-template #noReports>
                <p class="noMessage">
                    Aún no hay reportes para este elemento
                </p>
            </ng-template>
        </ng-container>
    </section>
</section>

