
.page__container header{
    background: var(--background-navbar);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.page__container header h1{
    font-family: 'Baloo 2';
    font-size: 1.5625rem;
    margin: 0;
    color: var(--text-navbar);
    text-align: center;
}

.page__container button.back[section="sala"]{
    background-color: var(--tertiary);
}

.page__container button.back[section="computadora"]{
    background-color: var(--quaternary);
}

.page__container button.back img{
    filter: var(--background-navbar-svg);
}

.page__container button.report img{
    width: 1.8rem;
    height: 1.8rem;
    filter: var(--text-light-contrast-svg);
}

.page__container button.report:hover img{
    filter: var(--primary-svg);
}

.page__container .section__resume {
    background-color: var(--background-card);
    padding: 1rem;
}

.page__container .section__resume .section__scroll {
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
}

.page__container .section__resume .section__scroll .resume{
    text-align: center;
    border-left: 3px solid var(--border);
    padding: .5rem;
    margin: .5rem;
    font-size: 1rem;
}

.page__container .section__resume .section__scroll .resume:first-child{
    border: 0;
}

.page__container .section__resume .section__scroll .resume p{
    margin: 0;
}

.page__container .section__buttons{
    width: 100%;
    display: flex;
}

.page__container .section__buttons button.section[section="sala"]{
    color: var(--tertiary);
    background-color: var(--background-report-card);
}

.page__container .section__buttons button.section[section="sala"][active=true]{
    color: var(--text-light);
    background-color: var(--tertiary);
}

.page__container .section__buttons button.section[section="computadora"]{
    color: var(--quaternary);
    background-color: var(--background-report-card);
    /* display: none; */
    pointer-events: none;
}

.page__container .section__buttons button.section[section="computadora"][active=true]{
    color: var(--text-light);
    background-color: var(--quaternary);
    width: 100%;
}

.page__container .section__subsection{
    display: flex;
    background-color: var(--background);
    max-width: 80rem;
    margin: 0 auto;
    position: relative;
}

.page__container .section__subsection .column{
    width: 100%;
    height: fit-content;
}

app-loader{
    width: 100%;
}